* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

#header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 400px;
    align-items: center;
    margin-bottom: 20px;
}

#leftHead {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 40px;
}

a {
    text-decoration: none;
    color: white;
}

span {
    font-weight: bold;
}

button {
    height: 25px;
    width: 75px;
    background-color: dodgerblue;
    color: white;
}

button:hover {
    background-color: grey;
}

#container {
    display: flex;
    padding: 10px 400px;
}

#boxLeft {
    flex: 2;
    padding: 10px;
}

#userBox {
    outline: solid 4px grey;
    margin-bottom: 20px;
}
#userTop {
    background-color: dodgerblue;
    height: 75px;
}

#user {
    height: 75px;
    width: 75px;
    position: relative;
    top: 30px;
    left: 10px;
    border-radius: 50%;
    border: solid 3px white;
}

#userBottom {
    padding: 10px;
    margin-top: 20px;
}

#userBottom > h3 {
    margin: 10px 0px;
}

#userLink {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.smallImg {
    height: 15px;
    margin-right: 5px;
}

#profileButton {
    color: dodgerblue
}

.extraBox {
    outline: solid 4px grey;
    margin: 0px 0px 20px 0px;
}

.extraTop {
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 10px 15px;
}

.extraBottom {
    padding: 10px;
}

.extraBottom h3, p {
    padding: 5px;
}

.ebP {
    color: grey
}

#boxRight {
    flex: 1;
    padding: 10px;
}

.rightButton {
    border-radius: 50px;
    width: 35px;
    height: 35px;
    background-color: lightgray;
    color: black;
    margin-right: 30px;
}

.profilePic {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.medImg {
    height: 45px;
    width: 45px;
    margin: 0px 10px;
}

.request {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.list {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}

#ycButton {
    width: 45px;
    height: 30px;
}

.linkBox {
    outline: solid 2px grey;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkBox a {
    color: blue;
    text-decoration: underline;
}
