* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px 40px;
}
#likeBox {
    border: 2px solid black;
    width: 500px;
    padding: 20px 20px;
}

#topBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#topBox p {
    font-weight: bold;
}

#pTag {
    margin-top: 10px;
    font-weight: bold;
}

#topBox button {
    width: 50px;
    height: 30px;
    background-color: yellow;
    font-weight: bold;
    box-shadow: 3px 3px black;
}